#calculator{
    height: 400px;
    width: 200px;
    border: 2px solid #000000;
    border-radius: 3px;
    margin: auto;
    padding: auto;
    margin-top: 100px;
}
#display{
    height: 40px;
    margin: 12px;
    width: 85%;
    font-size: 20px;
    border-radius: 5px;
}

.button-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.button{
    height: 45px;
    width: 45px;
    margin: 3px;
}