*{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    text-align: center;
    text-transform: ;
    color: rgb(82, 47, 47);
}
form{
    width: 350px;
    height: 470PX;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 10px 40px #ABB2B9;
    overflow: hidden;
    background-color: #e5e5e2;
}

.container{
    text-align: center;
    margin: 2px 0 2px;
}

img{
    width: 100px;   
    height: 100px;
    border-radius: 55%;
    border: 2px solid rgb(186, 88, 88);
}

.container2{
    padding: 5px;
}
input[type=text], input[type=password]{
    width: 95%;
    margin: 5px 0;
    padding: 10px;
    border: 2px solid #363030;
    box-sizing: border-box;
}

label[for="username"], label[for="password"]{
    font-weight: bold;
}

button{
   border: none;
   cursor: pointer;
   margin: 5px 0;
}

.log_in{
    font-size: 14px;
    font-weight: bold;
    padding: 14px 20px; 
    background-image: linear-gradient(to right, #6dd5ed, #2193b0);
    width: 70%;
    display: block;
    margin: 10px 50px;
    color: #fff;
    border-radius: 2px solid rgb(95, 34, 34);
}
.container3{ 
    padding: 5px 8px;
}

.cancel_btn :hover{
    opacity: 0.8;
}

.cancel_btn{
    height: 25px;
    width: 60px;
    border: 1px solid black;
    color: white;
    background-color: red;
    border-radius: 5px;
    
}
.container3 a{
    float: right;
    padding-top: 10px;
    font-size: 15px;
    text-decoration: none;
    color: #666666;
}
.container a :hover{
    color: #a64bf4;
}